* {
  margin: 0%;
  padding: 0%; }

* {
  margin: 0%;
  padding: 0%; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #505D6F; }

.bold {
  font-weight: bold; }

h1 {
  font-size: 34px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 16px; }

@media screen and (min-width: 992px) {
  h1 {
    font-size: 45px; }
  h2 {
    font-size: 28px; }
  h3 {
    font-size: 20px; } }

* {
  margin: 0%;
  padding: 0%; }

/* MOBILE y TABLET*/
.grillaHome {
  display: grid;
  grid-template-areas: "topBar topBar topBar" "nav nav nav" "portada portada portada" "info info info" "texto texto texto" "clima clima clima" "instagram instagram instagram" "footer footer footer";
  grid-template-columns: repeat 3, 1fr;
  grid-template-rows: 40px 86px 200px auto auto auto auto 100px; }

.grillaPage {
  display: grid;
  grid-template-areas: "topBar topBar topBar" "nav nav nav" "name name name" "main main main" "footer footer footer";
  grid-template-columns: repeat 3, 1fr;
  grid-template-rows: 40px 86px auto auto 100px; }

aside {
  display: none; }

/*DESKTOP*/
@media screen and (min-width: 992px) {
  /*Grid Home*/
  .grillaHome {
    display: grid;
    grid-template-areas: "topBar topBar topBar topBar topBar topBar" "nav nav nav nav nav nav" "portada portada portada portada portada portada" "info info info info info info" "clima clima texto texto instagram instagram" "footer footer footer footer footer footer";
    grid-template-columns: 6, 1fr;
    grid-template-rows: 40px 86px auto auto auto 100px; }
  /*Grid Page*/
  .grillaPage {
    display: grid;
    grid-template-areas: "topBar topBar topBar topBar topBar topBar" "nav nav nav nav nav nav" "name name name name name name" "main main main main main main" "footer footer footer footer footer footer";
    grid-template-columns: 6, 1fr;
    grid-template-rows: 40px 86px auto auto 100px; }
  .grillaContacto {
    display: grid;
    grid-template-areas: "form form aside";
    grid-template-columns: repeat 3, 1fr;
    grid-template-rows: 100%; }
  aside {
    grid-area: aside;
    display: inherit; }
    aside img {
      height: 100%; } }

* {
  margin: 0%;
  padding: 0%; }

.box {
  padding: 10px;
  margin: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center; }

.boxClima {
  grid-area: clima; }

.boxTxt {
  grid-area: texto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.boxRedes {
  grid-area: instagram;
  padding: 10px;
  margin: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .boxRedes .snapwidget-widget {
    border-radius: 50px;
    border: none;
    overflow: hidden;
    width: 80%; }
  .boxRedes a {
    background-color: rgba(75, 128, 177, 0.5);
    position: absolute;
    transform: translate(-50);
    color: #fff; }
    .boxRedes a .icon {
      padding-right: 5px; }
  .boxRedes a:hover {
    background-color: rgba(0, 0, 0, 0.5); }

.sectionBlue {
  grid-area: info;
  background-color: #4B80B1;
  color: #fff;
  padding: 15px;
  text-align: center; }

.sectionName {
  grid-area: name;
  background-color: #4B80B1;
  color: #fff;
  padding: 15px;
  text-align: left; }

main {
  grid-area: main;
  padding: 10px;
  margin: 15px 20px; }
  main .boxParrafo {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    main .boxParrafo p {
      width: 60%; }

footer {
  grid-area: footer;
  height: 100px;
  background-color: #4B80B1;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 5px; }

* {
  margin: 0%;
  padding: 0%; }

.topBar {
  grid-area: topBar;
  color: #fff;
  text-align: center;
  font-size: 16px;
  background-color: #4B80B1;
  padding: 15px; }

.portada {
  grid-area: portada;
  width: 100%;
  height: 100%;
  color: #fff;
  position: relative;
  display: inline-block; }
  .portada .portadaImg {
    width: 100%;
    height: 100%;
    overflow: hidden; }
  .portada .portadaTitulo {
    width: 100%;
    position: absolute;
    top: 15%;
    text-align: center;
    font-weight: bold; }
  .portada .portadaSubtitutulo {
    width: 100%;
    position: absolute;
    top: 35%;
    text-align: center; }
  .portada button a {
    display: none;
    color: #4B80B1; }

.containerPortada {
  display: flex;
  flex-direction: row;
  align-content: center; }
  .containerPortada .containerPortadaImg {
    width: 100%;
    margin-bottom: 20px; }

ul li {
  background-color: #fff; }

nav {
  grid-area: nav;
  background-color: #fff; }
  nav .container-fluid #navbarSupportedContent .navbar-nav .nav-item .nav-link {
    color: #4B80B1;
    padding: 20px;
    font-weight: bold; }
  nav .container-fluid #navbarSupportedContent .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
    background-color: #4B80B1; }

.button, .btnWhite, .btnBlue {
  margin: 15px;
  padding: 2px;
  width: 228px;
  height: 40px;
  border-radius: 20px;
  border-color: transparent;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none; }

.btnWhite {
  background-color: #fff;
  color: #4B80B1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  transition: transform 3s; }

.btnWhite:hover {
  background-color: #4B80B1;
  color: #fff; }

.btnBlue {
  background-color: #4B80B1;
  color: #fff; }

.btnOutliner {
  margin-top: 15px;
  padding: 10px;
  width: 150px;
  border-radius: 20px;
  border-color: transparent;
  border: 2px solid #4B80B1;
  background-color: #fff;
  color: #4B80B1;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none; }

.sectionName .breadcrumb .breadcrumb-item {
  color: #fff; }
  .sectionName .breadcrumb .breadcrumb-item a {
    text-decoration: none;
    color: #fff; }
  .sectionName .breadcrumb .breadcrumb-item a:hover {
    text-decoration: underline; }

.form {
  width: 100%;
  grid-area: form; }
  .form form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 0 50px;
    border: solid 1px #4B80B1;
    border-radius: 25px; }
    .form form label {
      margin-top: 15px; }
    .form form .checkboxFlex {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center; }
      .form form .checkboxFlex .checkbox {
        width: 20%; }
        .form form .checkboxFlex .checkbox .inputCheckbox {
          align-content: center;
          justify-content: center; }
        .form form .checkboxFlex .checkbox .inputCheckbox {
          align-content: center;
          justify-content: center; }
    .form form .input {
      width: 100%;
      padding: 10px;
      border: solid 1px #4B80B1;
      border-radius: 25px; }
