@import "base";

/* MOBILE y TABLET*/
// Grilla Home
.grillaHome {
    display: grid;
    grid-template-areas:
        "topBar topBar topBar"
        "nav nav nav"
        "portada portada portada"
        "info info info"
        "texto texto texto"
        "clima clima clima"
        "instagram instagram instagram"
        "footer footer footer";
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: 40px 86px 200px auto auto auto auto 100px;
}

// Grilla page
.grillaPage {
    display: grid;
    grid-template-areas:
        "topBar topBar topBar"
        "nav nav nav"
        "name name name"
        "main main main"
        "footer footer footer";
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: 40px 86px auto auto 100px;
}

aside {
    display: none;
}

/*DESKTOP*/
@media screen and (min-width: $desktop) {

    /*Grid Home*/
    .grillaHome {
        display: grid;
        grid-template-areas:
            "topBar topBar topBar topBar topBar topBar"
            "nav nav nav nav nav nav"
            "portada portada portada portada portada portada"
            "info info info info info info"
            "clima clima texto texto instagram instagram"
            "footer footer footer footer footer footer";
        grid-template-columns: (6, 1fr);
        grid-template-rows: 40px 86px auto auto auto 100px;
    }

    /*Grid Page*/
    .grillaPage {
        display: grid;
        grid-template-areas:
            "topBar topBar topBar topBar topBar topBar"
            "nav nav nav nav nav nav"
            "name name name name name name"
            "main main main main main main"
            "footer footer footer footer footer footer";
        grid-template-columns: (6, 1fr);
        grid-template-rows: 40px 86px auto auto 100px
    }

    // Grilla contacto
    .grillaContacto {
        display: grid;
        grid-template-areas:
            "form form aside";
        grid-template-columns: repeat (3, 1fr);
        grid-template-rows: 100%;
    }

    aside {
        grid-area: aside;
        display: inherit;

        img {
            height: 100%;
        }
    }
}