@import "base";

.topBar {
    grid-area: topBar;
    color: color(color2);
    text-align: center;
    font-size: 16px;
    background-color: color(color1);
    padding: 15px;
}

.portada {
    grid-area: portada;
    width: 100%;
    height: 100%;
    color: color(color2);
    position: relative;
    display: inline-block;
    

    .portadaImg {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .portadaTitulo {
        width: 100%;
        position: absolute;
        top: 15%;
        text-align: center;
        font-weight: bold;
    }

    .portadaSubtitutulo {
        width: 100%;
        position: absolute;
        top: 35%;
        text-align: center;
    }

    button {
        a {
            display: none;
            color: color(color1);
        }
    }
}

.containerPortada {
    display: flex;
    flex-direction: row;
    align-content: center;

    .containerPortadaImg {
        width: 100%;
        margin-bottom: 20px;
    }
}