@import "base";

// Home
.box {
    @include boxSpaces;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.boxClima {
    grid-area: clima;
}

.boxTxt {
    grid-area: texto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.boxRedes {
    grid-area: instagram;
    @include boxSpaces;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .snapwidget-widget {
        border-radius: 50px;
        border:none;
        overflow:hidden; 
        width:80%;
    }

    a {
        background-color: rgba(75, 128, 177, 0.5);
        position: absolute;
        transform: translate(-50);
        color:color(color2);


        .icon {
            padding-right: 5px;
        }
    }

    a:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.sectionBlue {
    grid-area: info;
    @include contenedorBlue;
    text-align: center;
}

// Pages
.sectionName {
    grid-area: name;
    @include contenedorBlue;
    text-align: left;
}

main {
    grid-area: main;
    @include boxSpaces;

    .boxParrafo {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            width: 60%;
        }
    }
}